@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    font-family: poppins;
    box-sizing: border-box;
}

:root{
    --head-color: #012743;  
    --text-color: #313c44;  
}

.main{
    height: 100vh;
    width: 100%;
}


.header{
    height: 90px;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
}

.h-left{
    /* border: 2px solid black; */
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-left img{
    width: 290px;
}

.h-mid{
    height: 100%;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
}

.h-right{
    height: 100%;
    width: 250px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links img{
    height: 29px;
    margin-right: 6px;
}

.a2 img{
    height: 23px;
}

.links{
    color: var(--text-color);
    text-decoration: none;
    font-size: 18.5px;
    font-weight: 430;
    transition: all linear .1s;
    display: flex;
    align-items: center;
}

.links:hover{
    opacity: .8;
    transform: scale(1.05);
}

.logout{
    background-color:#238bd9;
    color: white;
    height: 37px;
    width: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: Center;
    margin-right: 5px;
}

.profile{
    background-color:#238bd9;
    color: white;
    height: 37px;
    width: 110px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: Center;

}

.logout:hover{
    background-color: #f05454;
}

.mid{
    width: 100%;
    height: 89%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
}

.mid-main1{
    height: 330px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;    
    border: 1.7px solid lightgrey;
    border-radius: 10px;
    padding: 10px;
}

.time{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actual-time{
    height: 35px;
    width: 85px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #c4cbd4;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 450;
}

.time-title{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: bold;
    color: var(--head-color);
}

.mid-main2{
    height: 350px;
    width: 400px;
    border: 1.7px solid lightgrey;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 0 15px 0;
}

.title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 35px;
    color: var(--head-color);
}

.info{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sizing{
    width: 80%;
    height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
    font-weight:500;
}

.input-size{
    width: 100%;
    height: 30px;
    border: 1.5px solid lightgrey;
    border-radius: 5px;
    background-color: #ffffff;
}

.book{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book button{
    width: 70%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #238bd9;
    color: white;
    font-size: 16px;
    font-weight: 450;
}

